body {
    background-image: linear-gradient(to right, #2c3e50, #4ca1af);
    font-family: Arial, sans-serif;
}

h2 {
    color: #394a51;
}

.column {
    width: 20%;
    padding: 5px;
    background-color: #ebecf0;
    border-radius: 12px;
    justify: center;
    box-shadow: var(--ds-shadow-raised,0 1px 1px #091e4240,0 0 1px #091e424f);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    position: relative;
    white-space: normal;
    margin: 1%;
    float: left;
    min-height: 300px;
    box-sizing: border-box;
}

.column h3 {
    color: #394a51;
}

.ag-courses_item {
    background: #121212;
    justify: center;
    border-radius: 12px;
    margin-bottom: 10px;
    padding: 20px;
    position: relative;
    color: #ffffff;
    overflow: hidden;
    box-sizing: border-box;
    width: 300px !important; /
    height: 75px;
}

.ag-courses_item_bg {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    transition: 0.5s;
    border-bottom-left-radius: 100% 50%;
    background-color: #fdc57b;
    z-index: 0;
}

.ag-courses_item:hover .ag-courses_item_bg {
    width: 200%;
    height: 200%;
}

.card-title,
.card-description {
    position: relative;
    z-index: 1;
}

.first-color {
    background: #9e0142;
}

.second-color {
    background: #3288bd;
}

.third-color {
    background: #fee08b;
}

.fourth-color {
    background: #abdda4;
}

.sixth-color {
    background: #fdae61;
}

.seventh-color {
    background: #5e4fa2;
}

.eighth-color {
    background: #f46d43;
}

.ninth-color {
    background: #d53e4f;
}