body {
  font-family: Arial, sans-serif;
}

.column {
  float: left;
  width: 30%;
  padding: 5px;
  box-sizing: border-box;
}

.column h3 {
  text-align: center;
}

.ag-courses_item {
  background: #eaeaea;
  padding: 20px;
  margin: 10px;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  transition: background-color 1s ease-in-out;
}

.ag-courses_item h4 {
  margin: 0 0 10px 0;
}

.ag-courses_item_bg {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  border-radius: 50% 0 0 50%;
  transition: all 1s ease-in-out;
}

.ag-courses_item:hover {
  background-color: transparent;
}

.ag-courses_item:hover .ag-courses_item_bg {
  width: 200%;
  height: 200%;
}

.first-color {
  background: #394a51;
}

.second-color {
  background: #7fa99b;
}

.third-color {
  background: #fbf2d5;
}

.fourth-color {
  background: #fdc57b;
}
