body {
background-image: linear-gradient(to right, #fc5c7d, #6a82fb);
    font-family: Arial, sans-serif;
}

.board {
    background-color: #ddd;
    margin: 10px;
    padding: 10px;
    width: 300px;
    border-radius: 5px;
}

.column {
    float: left;
    width: 30%;
    padding: 10px;
    box-sizing: border-box;
    background: linear-gradient(to bottom, #0079bf 0%,#008ec2 50%,#0079bf 100%);
    color: #fff;
}

.card {
    background-image: linear-gradient(to right, #434343 0%, black 100%);
    margin: 5px 0;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(9,45,66,.25);
    transition: box-shadow .3s;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
