body {
    background-color: #ee5522;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='100' y1='33' x2='100' y2='-3'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='100' y1='135' x2='100' y2='97'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23d23d09' fill-opacity='0.6'%3E%3Crect x='100' width='100' height='100'/%3E%3Crect y='100' width='100' height='100'/%3E%3C/g%3E%3Cg fill-opacity='0.5'%3E%3Cpolygon fill='url(%23a)' points='100 30 0 0 200 0'/%3E%3Cpolygon fill='url(%23b)' points='100 100 0 130 0 100 200 100 200 130'/%3E%3C/g%3E%3C/svg%3E");
    font-family: Arial, sans-serif;
}

h2 {
    color: #394a51;
}

.column {
    width: 20%;
    padding: 5px;
    background-color: transparent;
    border-radius: 12px;
    align-items: center;
    justify-content: start;
    box-shadow: var(--ds-shadow-raised,0 1px 1px #091e4240,0 0 1px #091e424f);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    position: relative;
    white-space: normal;
    margin: 1%;
    float: left;
    min-height: 60px;
    box-sizing: border-box;
}


.column h3 {
    color: #394a51;
}

.ag-courses_item {
    background: #121212;
    justify: center;
    border-radius: 12px;
    margin-bottom: 10px;
    padding: 20px;
    position: relative;
    color: #ffffff;
    overflow: hidden;
    box-sizing: border-box;
    width: 300px !important;
    height: 75px;
}

.ag-courses_item_bg {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    transition: 0.5s;
    border-bottom-left-radius: 100% 50%;
    background-color: #fdc57b;
    z-index: 0;
}

.ag-courses_item:hover .ag-courses_item_bg {
    width: 200%;
    height: 200%;
}

.ag-courses_item:hover {
    box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.4), 0px 8px 25px 0px rgba(0, 0, 0, 0.4);
}

.card-title,
.card-description {
    position: relative;
    z-index: 1;
}

.first-color {
    background: #9e0142;
}

.second-color {
    background: #3288bd;
}

.third-color {
    background: #fee08b;
}

.fourth-color {
    background: #abdda4;
}

.sixth-color {
    background: #fdae61;
}

.seventh-color {
    background: #5e4fa2;
}

.eighth-color {
    background: #f46d43;
}

.ninth-color {
    background: #d53e4f;
}